{% block header %}
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand btn btn-primary" href="/">Accueil</a>
        <div>
        <a class ="btn btn-secondary" href="{{ path('program_index') }}">Liste des séries</a>
        <a class ="btn btn-secondary" href="{{ path('season_index') }}">Liste des saisons</a>
        <a class ="btn btn-secondary" href="{{ path('episode_index') }}">Liste des épisodes</a>
        <a class ="btn btn-secondary" href="{{ path('actor_index') }}">Liste des actors</a>
        <a class ="btn btn-secondary" href="{{ path('comment_index') }}">Liste des commentaires</a>
            {% if app.user %}
                {{ app.user.email }}
                <a href="{{ path('app_logout') }}"> Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}"> Se connecter</a>
            {% endif %}

        </div>
    </nav>
</header>
{%  endblock %}